doctype html
html(ng-app='wf-help-example')
  head
    title= title
    script(src="components/angular/angular.min.js")
    script(src="components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="components/jquery/jquery.min.js")
    script(src="components/angular-ui-sortable/src/sortable.js")
    script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
    script(src="components/selectize/dist/js/standalone/selectize.min.js")
    script(src="components/ng-selectize/dist/ng-selectize.min.js")
    script(src="/angular/app.js")
    script(src="/angular/controllers/main.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/selectize/dist/css/selectize.bootstrap3.css')

  body
    block content